body {
	overflow: auto;
	background-color: #d3dde5;
}
.container {
	margin: 50px 200px 50px 200px;
}
.kolor {
	column-count: 2;
	column-gap: 20px;
	column-rule-color: black;
}

.przycisk {
	font-size: 18px;
}
.bold {
	font-weight: bold;
	font-size: 18px;
}
h2 {
	text-align: center;
}
p {
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	padding: 0;
}
.dane { 
	color: red;
}





