body {
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic';
	background-color: #fcfcfc;	
	min-width: 750px;
}
.header {
	height: 11vh;
	width: 100%;
	border-bottom: 7px solid #febd01;
}
.logo {
    position: absolute;
    top: 2px;
    left: 100px;
    z-index: 1;
}
.nag {
	padding-top: 5px;
	padding-left: 250px;
	font-size: 25px;
	font-weight: bold;
	color: #4a4a4a; 
}
.container {
    height: calc(100vh - 30vh);
	padding: 20px 100px 0 100px;
    background-color: #fff;
    border-bottom: 7px solid #febd01;
    border-top: 7px solid #bde247;
    color: #4a4a4a;
    overflow: auto; 
    background-color: #fcfcfc;
    text-align: center;
}
.logowanie {
	text-align: center;
	font-weight: bold;
}
p {
	font-size: 24px;
	text-align: justify;
}
.bold {
	font-weight: bold;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.form {
	margin: 0;
	padding: 0;
}
input {
 	display: inline-block;
 	width: 180px;
 	padding: 5px 10px;
 	font-size: 18px;
 	font-weight: bold;
 	cursor: pointer;
 	text-align: center;
 	outline: none;
 	color: #fff;
 	background-color: #bde247;
	border: none;
  	border-radius: 15px;
}
h2 {
	font-size: 30px;
}
.footer {
	padding-top: 5px;
	height: 2.6vh;
	width: 100%;
	text-align: center;
	font-size: 15px;
    color: #4a4a4a;
    border-top: 7px solid #bde247;
}