body {
	margin: 0;
	font-family: Helvetica;
}
.header {
    height: 65px;
    padding: 15px;
    padding-left: 50px;
    font-size: 30px;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
	background: black;
	color: white;
}
.left-sidebar {
	height: calc(100vh - 100px);
	width: 320px;
	float: left;
	box-sizing: border-box;
	background: grey;
    overflow: auto;
}
.left-sidebar .nav ul {
	margin: 0;
	padding: 0;
}
.left-sidebar .nav ul li {
	list-style: none;
}
.left-sidebar .nav ul li a {
	display: inline-block;
	width: 100%;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
}

.left-sidebar .nav ul li a:hover {
    background: white;
    color: black;
	cursor: pointer;
}

.main {
	height: calc(100vh - 100px);
	width: calc(100% - 320px);
	float: left;
	box-sizing: border-box;
	overflow: auto;
}
.section {
	margin: 0 auto;
}
#map {
    background-color: white;
	height: calc(100vh - 100px);
}
li {
    text-decoration: none;
}
p {
    color: black;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
#layertree li > a > span {
    cursor: pointer;
}
.footer {
	height: 35px;
    padding: 7px 7px 7px 40%;
	box-sizing: border-box;
	clear: both;
	background: black;
	color: white;
    text-align: center;
    text-decoration-color: red;
}
.tekst {
    margin-left: -15px;
}
#list {
    margin: 3px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
.lista {
    padding-top: 15px;
    padding-bottom: 0px;     
}
.legenda {
    color: white;
    position:absolute;
    top:0px;
    right: 8px;
    z-index: 1;
    width: 250px;
    font-weight: bold;
    font-size: 12px;
    padding: 0px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
